{% comment %}

<header class="page-header as-background page-header as-background hero--l-small mb30 vertical-centered" >
  <div class="page-header-inner-bottom">
    <h1 class="collection-page-header-title page-header-title-sm ">{{ 'customer.reset_password.title' | t }}</h1>
  </div>
</header>
  {% render 'breadcrumb' breadcrumb_class:"page-header-breadcrumb" %}
{% endcomment %}
{% assign page_title = 'customer.reset_password.title' | t  %}

{% render 'page-header'
  bg: settings.page_account_bg_img,
  title: page_title
%}

<div class="main-content-inner account-page container">
  <div class="row">
    <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    <div class="col-md-4 col-md-offset-4">
      {% form 'reset_customer_password', class:"login-form" %}
        {% render 'form-errors-custom', form: form %}
      	<label class="fields_label" for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="ResetPassword" class="login-input">
        <label class="fields_label" for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
      	<input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="login-input">
        <input type="submit" class="btn btn-primary" value="{{ 'customer.reset_password.submit' | t }}">
      {% endform %}
    </div>
  </div>
</div>
