{% render 'page-header'
  bg: article.image,
  title: article.title
  article_meta: true,
  class: "-article"
%}

<div class="page-wrapper">


<div class="container article-template" data-section-id="{{ section.id }}" data-section-type="article-page-section">

      <div class="blog-post">

        {% render 'article-content'
          content: article.content,
          size: section.settings.article_font_size
        %}
</div>
</div>



  <div class="container">


    <div class="row">
      <div class="col-md-6 col-md-offset-3">
<div class="article-footer">
  <div class="row">
    <div class="col-md-4">
      <a href="{{ blog.url }}" class="blog-post-link -back">
        ←&nbsp; {{ 'blogs.article.back_to_blog' | t: title: blog.title}}
      </a>
    </div>
    {% if section.settings.show_share_buttons %}
    <div class="col-md-8">
      {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
    </div>
    {% endif %}
  </div>





        <!--   	Blog comments part  -->
        {% render 'article-comments' %}
      </div>
    </div>
  </div>
</div>


<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": {{ article.content | strip_html | json }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ shop.url | append: page.url | json }}
  },
  "headline": {{ article.title | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      {{ article | img_url: image_size | prepend: "https:" | json }}
    ],
  {% endif %}
  "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "publisher": {
    "@type": "Organization",
    {% if page_image %}
      {% assign image_size = page_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": {{ page_image.height | json }},
        "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
        "width": {{ page_image.width | json }}
      },
    {% endif %}
    "name": {{ shop.name | json }}
  }
}
</script>



{% schema %}
{
   "name":"Article",
   "settings":[

       {
          "type":"checkbox",
          "id":"show_share_buttons",
          "label":"Show social sharing buttons",
          "default":true
       },
      {
         "type": "header",
         "content": "Meta information"
      },
      {
         "type":"checkbox",
         "id":"article_meta_author",
         "label":"Show author",
         "default":true
      },
      {
         "type":"checkbox",
         "id":"article_meta_date",
         "label":"Show date",
         "default":true
      },
      {
         "type":"checkbox",
         "id":"article_meta_comments",
         "label":"Show comments",
         "default":true,
         "info": "Available when blog comments are enabled"
      }
   ]
}
{% endschema %}
